
@{
    ViewData["Title"] = "Checkout";
}
@model IEnumerable<WEB.ViewModels.CartItem>
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Check out</li>
				</ol>
			</div><!--/breadcrums-->

			<div class="shopper-informations">
				<div class="row">
					<div class="col-sm-8 clearfix">
						<div class="bill-to">
							<p>Đơn Hàng</p>
							<div class="form-one">
								<form>
								<div class="form-item">
									<label class="form-label my-3"> Người nhận hàng</label>
									<input type="text" name="UserName" class="form-control"/>
								</div>
								<div class="form-item">
									<label class="form-label my-3"> Địa chỉ nhận hàng</label>
									<input type="text" name="Adrress" class="form-control" placeholder="18 Nguyễn Văn Linh" />
								</div>
								<div class="form-item">
									<label class="form-label my-3"> Email</label>
									<input type="text" name="Email" class="form-control" placeholder="18 Nguyễn Văn Linh" />
								</div>
								<div class="form-item">
									<label class="form-label my-3"> Số Điện Thoại</label>
									<input type="text" name="Phone" class="form-control" placeholder="18 Nguyễn Văn Linh" />
								</div>
				
								</form>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="order-message">
							<p>Ghi chú</p>
							<textarea name="Note"  placeholder="Ghi chú" rows="16"></textarea>
							<label><input type="checkbox"> Ghi chú</label>
						</div>	
					</div>					
				</div>
			</div>
			<div class="review-payment">
				<h2>Review & Payment</h2>
			</div>

			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
						<td class="image">Sản Phẩm</td>
						<td class="description"></td>
						<td class="price">Giá</td>
						<td class="quantity">Số Lượng</td>
						<td class="total">Tổng Cộng</td>
						<td></td>
						</tr>
					</thead>
					<tbody>
						
					@foreach(var item in Model)
					{
							<tr>
								<td class="cart_product">
									<a href=""><img src="~/image/@item.Image" alt="@item.ProductName" width="100" height="100"></a>
								</td>
								<td class="cart_description">
									<h4><a href="">@item.ProductName</a></h4>
								</td>
								<td class="cart_price">
									<p>@item.Price.ToString("#,##") VND</p>
								</td>
								<td class="cart_quantity">
									<div class="cart_quantity_button">
									<a class="cart_quantity_down" asp-controller="Cart" asp-action="DecreaseCart" asp-route-id="@item.ProductId"> - </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="@item.Quantity" autocomplete="off" size="2">
									<a class="cart_quantity_up" asp-controller="Cart" asp-action="IncreaseCart" asp-route-id="@item.ProductId"> + </a>
									</div>
								</td>
								<td class="cart_total">
								<p class="cart_total_price">@item.TotalPrice.ToString("#,##") VND</p>
								</td>
								<td class="cart_delete">
									<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
								</td>
							</tr>
					}

						
						<tr>
							<td colspan="4">&nbsp;</td>
							<td colspan="2">
								<table class="table table-condensed total-result">
									<tr>
										<td>Thành Tiền</td>
										<td>@Model.Sum(p => p.TotalPrice).ToString("#,##") VND</td>
									</tr>
								
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="payment-options">
					<span>
						<label><input type="checkbox"> Direct Bank Transfer</label>
					</span>
					<span>
						<label><input type="checkbox"> VNPay</label>
					</span>
					<span>
						<label><input type="checkbox"> Paypal</label>
					</span>
				</div>
		</div>
	</section> <!--/#cart_items-->


